@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

// font 
$head-fonts: 'Poppins', sans-serif;
$body-fonts: 'Open Sans', sans-serif;

// Breakpoint
$desktop: 1024px;
$tablet: 768px;
$movil: 425px;

// Colors
$pink: hsl(322, 100%, 66%);
$pink_lite: hsl(322, 100%, 71%);
$pink_dark: hsl(322, 100%, 60%);
$very-pale-cyan: hsl(193, 100%, 96%);
$very-dark-cyan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);